{% extends 'index.html' %}

{% block more_css %}{% endblock %}


{% block app_main_body %}
   <h2>History</h2>
   <table class="table table-hover">
    <tr>
	 <th>Date &amp; Job</th>
	 <th>Description</th>
	 <th>Statistics</th>
	 <th>File Downloads</th>
	</tr>
   {% for log in logs %}
   <tr>
      <td>{{ log.created_on }}<br>{{ log.job }}</td>
      <td>{% for note in log.notes %}
        <p><strong>{{ note.created_on }}</strong><br>{{ note.value }}</p>{% endfor %}
      </td>
      <td>{% for stat in log.statistics %}
           <li><strong>{{ stat.name }}</strong> {{ stat.value }}</li>
          {% endfor %}
      </td>
      <td>
	   <a class="btn btn-success btn-sm" href="{{ url_for('download', status='mod', log_id=log.id) }}">Modified MARC File</a>
	   <br/>
	   <a class="btn btn-primary btn-sm" href="{{ url_for('download', status='org', log_id=log.id) }}">Original MARC File</a>
      </td>
   </tr>
   {% endfor %}
   </table>
{% endblock %}
