{% extends 'index.html' %}
{% block app_main_body %}
<form class="form form-horizontal" 
      method="POST" 
      action="{{ url_for('job', code=job.name) }}"
      enctype="multipart/form-data">
 <h3>{{ job.module.NAME }}</h3>
     <section class="form-group">
         <label class="control-label col-sm-3">Upload Single MARC File</label>
        <div class="col-sm-5">
            <input type="file" class="form-control" name="raw_marc_file"></input>
        </div>
     </section>
     <section class="form-group">
        <label class="control-label col-sm-3">Record Type</label>
        <div class="col-sm-4">
            <select class="form-control" name="record_type">
            {% for name, id in rec_types.items() %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
            </select>
        </div>
     </section>
     <section class="form-group">
        <label class="control-label col-sm-3">Note</label>
        <div class="col-sm-7">
            <textarea class="form-control" name="notes"></textarea>
        </div>
     </section>
     {% if job.module.COLLECTIONS %}
     <section class="form-group">
        <label class="control-label col-sm-3">Collection</label>
        <div class="col-sm-7">
            <select class="form-control" name="collection">
                <option>Select</option>
            {% for row in job.module.COLLECTIONS %}
                <option value="{{ row.name }}">{{ row.name }}</option>
            {% endfor %}
            </select>
        </div>
     </section>
     {% endif %}
     <section class="form-group">
        <input type="submit" class="btn btn-warning" value="Upload"></input>
     </section>
</form>
{% endblock %}

